
<p> The AVeriTeC challenge aims to evaluate the ability of a system to verify real-world claims with evidence from the Web.</p>


<p> The AVeriTeC shared task is part of the FEVER Workshop, co-located with EMNLP2024 and will be held in Miami, Florida, United States. </p>


<ul>
<li> Given a factual claim extracted by the fact-checkers and normalised by annotators, the system must extract evidence from the Web that support and refute the claim.</li>
<li> Using this evidence, label the claim as Supported, Refuted given the evidence, Not Enough Info (if there isn't sufficient evidence to either support of refute it) or Conflicting Evidence/Cherry-picking (if the claim has both supporting and refuting evidence).</li>
<li> One piece of evidence may consist of multiple sentences that can be found on the Web. </li>
<ul>


<p> To learn more about the task and our baseline implementation, read our paper <a href="https://arxiv.org/pdf/2305.13117.pdf">AVERITEC: A Dataset for Real-world Claim Verification with Evidence from the Web</a> and go to the <a href="https://fever.ai/task.html">shared task webpage</a>. </p>


<h4> Key Dates </h4>
<ul>
<li> Challenge Launch: 1 April 2024 </li>
<li> Training Data Release: 1 April 2024 </li>
<li> Testing Begins: 30 June 2024 </li>
<li> Submission Closes: 15 July 2024 </li>
<li> Results Announced: 20 July 2024 </li>
<li> System Descriptions Due for Workshop: 1 August 2024 </li>
<li> Winners Announced: 12/16 November (EMNLP 2024) </li>
</ul>
